doctype html
html
  head
    title gulp-setup
  body 
    h1 Hello world!
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 

    include partial.pug
