@import 'partial';
@import 'relative/partial';


body {
  background: #fff;
  color: #333;
  font-size: 1rem;

  a {
    color: #00f;
    text-decoration: underline;

    &:hover {
      color: #f00;
    }
  }
}
